<!-- Login Page -->

<div class="login d-flex justify-content-center align-items-center m-auto">
  <div class="row">
    <!-- Image Side -->
    <div class="col-md-6 p-0">
      <div class="overlay"></div>
      <img src="../../../../assets/login.png" alt="" />
    </div>

    <!-- Form Side -->
    <div class="col-md-6">
      <div class="h-100 d-flex align-items-center justify-content-center w-100">
        <div class="box w-75">
          <!-- Login Title -->
          <h2>{{ "login.title" | translate }}</h2>

          <!-- Form fields -->
          <form [formGroup]="loginForm">
            <!-- Email field -->
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "login.email" | translate }}</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="{{ 'login.email' | translate }}"
              />
              <mat-error>{{ "login.required" | translate }}</mat-error>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "login.password" | translate }}</mat-label>
              <input
                matInput
                formControlName="password"
                type="password"
                placeholder="{{ 'login.password' | translate }}"
              />
              <mat-error>{{ "login.required" | translate }}</mat-error>
            </mat-form-field>
          </form>

          <!-- Login button -->
          <div class="d-flex justify-content-center">
            <button mat-raised-button color="warn" (click)="login()">
              {{ "login.title" | translate }}
            </button>
          </div>

          <!-- Go to Create Account page -->
          <div class="d-flex justify-content-center my-3">
            <a routerLink="/auth/register">{{
              "login.create-account" | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
