button {
    color: #FFF;
    margin: 0 5px;
    &.addTask {
        background-color: #ca085a;
        color: #FFF;
        padding: 2px 23px;
        font-size: 20px;
    }
}

table{
    img{
        width: 70px!important;;
        height:70px!important;
        padding:5px;
    }
}

:host ::ng-deep {
    table {
        thead {
            background-color: #bc1059!important;
            .mat-header-cell {
                color: #FFF;
            }
        }
    }
}

.w-20 {
    width: 20%!important;
}

mat-icon{
    cursor:pointer;
    width:30px;
    margin-left:5px;
}

.pagination{
   font-weight:800;
}

::ng-deep .mat-sort-header-arrow{
    color : rgb(233, 253, 3);
    font-weight: 800;
}